<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"/>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"/>
    <div class="container">
        <div class="py-5 text-center" th:if="${error != null}">
            <p class="lead">스터디카페 가입</p>
            <div class="alert alert-danger" role="alert" th:text="${error}"></div>
            <div class="lead" th:utext="${email}">your@email.com</div>
        </div>

        <div class="py-5 text-center" th:if="${error == null}">
            <p class="lead">스터디카페 가입</p>
            <h2>스터디카페 서비스를 사용하려면 인증 이메일을 확인하세요.</h2>

            <div>
                <div class="lead" th:utext="${email}">your@email.com</div>
                <a class="btn btn-outline-info" th:href="@{/resend-confirm-email}">인증 이메일 다시 보내기</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments.html :: footer"/>
</body>
</html>